* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    
    background-color: #FFFFFF; 
    width: 320px;
    padding: 16px; 
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
}


.qr-img {
    width: 100%;
    border-radius: 10px;
}


.card-body {
    
    padding: 24px 16px 40px 16px; 
}

.card-title {
    
    color: #1F314F; 
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

.card-text {
    
    color: #68778D; 
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
}